
.intro {
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Невеликий зсув вниз для більшого ефекту */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro h2 {
    font-size: 1.2em;
    color: #aaa;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out forwards; /* Анімація з ефектом появи */
}

.intro p {
    font-size: 1em;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    animation: fadeIn 2s ease-out forwards;
}
.intro-image {
    width: 100px; /* Початкова ширина */
    max-width: 600px; /* Максимальна ширина */
    transition: width 0.5s ease, transform 0.5s ease, opacity 0.5s ease; /* Анімації для ширини, трансформації і непрозорості */
    display: block; /* Додано для коректного відображення */
    margin: 0 auto; /* Центрування зображення */
    border-radius: 20px; /* Закруглення країв */
    opacity: 0; /* Спочатку непрозоре */
    transform: translateY(100px); /* Спочатку зміщене вниз */
}

.intro_button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.intro_button:hover {
    background-color: #f05; /* червоний колір при наведенні */
    color: #fff; /* змінюємо колір тексту на білий при наведенні */
}