* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: linear-gradient(0deg, rgb(255, 96, 54), rgb(253, 38, 122)) no-repeat; */
    background: linear-gradient(0deg, rgb(46, 3, 56), rgb(39, 30, 122)) no-repeat;
    /* background: #000000;  */

}

#swiper {
  height: 70vh;
  width: 100%; 
  position: relative; 
}


.card {
  width: 400px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  overflow: hidden;
  background-color: #000; 
  color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  margin: 0 auto;
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  transition: transform 0.5s ease, opacity 0.5s ease; 
  z-index: 0;
  top: 10%;

}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card-info {
  text-align: left;
  border-top: 1px solid #333; 
  padding-top: 10px;
}

.card-info h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.card-info p {
  font-size: 1em;
  color: #ccc; 
  margin: 5px 0;
}

.card-info .description {
  color: #ddd; 
  font-size: 0.9em;
  line-height: 1.5;
}

.card-info p span {
  font-weight: bold;
  color: #fff;
}

#like,
#dislike {
  font-size: 16vh;
  border-radius: 50%;
  padding: 20px;
  position: absolute; 
  z-index: 1;
  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: paused;
  /* bottom: 70%;  */
  fill: rgb(231, 160, 160);
  

}

#like {
  color: rgb(6, 6, 6);
  background-color: rgba(255, 255, 255, 0.5);
  background-color: black;
  position: absolute; 
  right: 20%; 
  bottom: 38%; 
  z-index: 2; /* Встановлюємо Z-індекс */
}

#dislike {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: black;
  position: absolute; 
  left: 20%; 
  bottom: 38%; 
  z-index: 2; 
}


@keyframes animation1 {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

@keyframes animation2 {
  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}



