body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 864px;
  background-color: #720dff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-panel {
  width: 864px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.left-panel h1 {
  font-size: 4em;
  margin: 0;
}
.phone-frame {
  position: relative;
  width: 300px;
  height: auto;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1;
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 60px;
  right: -180px;
  transform: rotate(-10deg);
  width: 125%;
  z-index: 2;
}
.left-panel h1 {
  max-width: 831px;
  font-size: 80px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: #fff;
  text-align: left;
  pointer-events: none;
}
