* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

header {
  background-color: #000;
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.social-icons a img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.language-selector {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #fff;
}

.language-option {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.language-option:hover {
  color: #ffffff;
  text-decoration: underline;
}
.menu {
  display: flex;
  gap: 10px;
}

.menu .button {
  font-family: "Nunito Sans", sans-serif;
  padding: 10px 20px;
  border-radius: 35px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.menu .button:hover {
  background-color: #720DFF;
  color: #fff;
}
