body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial Black', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 900px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.intro {
    margin-top: 300px;
    max-width: 1002px;
    padding: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.intro h1 {
    font-size: 50px;
    margin: 20px;
    animation: fadeIn 2s ease-out forwards;
}

.notification {
    display: none; 
    padding: 15px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro h1 span {
    color: #a55eea;
}

.intro p {
    font-family: 'Avenir Next';
    font-size: 1em;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    animation: fadeIn 2s ease-out forwards;
}

.intro_button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-color: #9223e3;
    border: none;
    border-radius: 35px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.intro_button:hover {
    background-color: #ffffff;
}
.platform-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #A15FFF;
    color: #ffffff;
    width: 100%;
    height: 900px;
    margin-top: 50px;
}

.platform-info .info-text {
    max-width: 50%;
    text-align: left;
    margin-right: 20px;
}
.platform-info .info-text p{
    font-family: 'Avenir Next';
    font-weight: normal;
    font-size: 20px; 
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #ffffff;
}

.platform-info .info-text h2 {
    font-size: 80px;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    margin-left: 50px;
}
.platform-info .description {
    font-family: 'Avenir Next';
    width:387px;
    font-weight: normal;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6;
    text-align: left; 
}


.platform-info .info-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 50%;
}

